* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(11, 11, 26);
}

header {
    background-color:navy ;
    padding: 2% 3%;
    position: fixed;
    width: 96%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    pointer-events: none;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    margin-left: 70px;
    background: linear-gradient(45deg,black,white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home-content {
    max-width: 500px;
    margin-left: 70px;
    position: relative;
    bottom: 204px;
}

.home {
    position: fixed;
    top: 222px;
    left: 50px;
}

h1 {
    font-size: 43px;
    font-weight: 700;
    color: white;
}

h3 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0 20px;
}

p {
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.icon {
    border-radius: 15px;
    display: inline-flex;
    width: 115px;
    height: 45px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: mediumturquoise;
    transition: 0.7s ease;
    margin-top: 11px;
}

.icon:hover {
transform:scale(1.2);
background-color: teal;
}


.home-icon span{
    display: flex;
    width: 35px;
    height: 35px;
    background: linear-gradient(45deg, pink , blue);
    border-radius:50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 27px 13px
}

.navbar a:hover {
    background: linear-gradient(45deg, white , black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

img {
    width: 254px;
    height: 406px;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    left: 750px;
    top: 150px;
}

